# Influencia del ingreso económico en el rendimiento en enseñanza media.


Durante los últimos años se ha notado un problema en el desempeño de los estudiantes, especialmente en contexto de pandemia, que ha traido consigo muchos aspectos negativos y han impactado significativamente las vidas de la población. Un estudio de Mineduc y el Banco de Chile publicado en agosto del año 2020* señala que debido al estado del país durante este período es probable un retroceso de 1,3 años en la escolaridad según aprendizaje de los estudiantes, lo que significa una pérdida importante tanto para establecimientos escolares como para universidades. Estando experimentando esta problemática directamente, fue considerado relevante estudiar las posibles variables que estarían influyendo en el aspecto académico del país, haciendo un énfasis en los bienes por región.

Para lo anterior, a partir de la base de datos de Mineduc y su información respecto al desempeño estudiantil, se analizarán y compararán las relaciones que esto tiene con los ingresos económicos regionales y la cantidad de redes a internet fijas, debido a la relevancia que ambas cosas han adquirido en nuestro contexto. De esa forma, se dará respuesta a las siguientes preguntas:

* ¿Cuáles son las regiones que presentan mayor desempeño académico y cuáles son las diferencias con las que tienen peor rendimiento? ¿Coincide lo anterior con el ingreso que estas presentan?
* ¿Se puede decir que hay una relación lineal entre ambas variables?
* ¿Se puede afirmar que el acceso a internet y los ingresos económicos influyen en los estudiantes?
* ¿Existe alguna conexión además entre el acceso a internet y los ingresos económicos?
* ¿Se puede predecir el desempeño del próximo año a partir de lo observado? Y si es así, ¿cómo sería?

*https://www.mineduc.cl/impacto-del-covid-19-en-los-resultados-de-aprendizaje-en-chile/

Los datos a utilizar provienen de bases públicas, y tienen distintas características:

El primero es un archivo .xlsx que se encuentra en la página web de Mineduc, y contiene información de todo tipo del desempeño estudiantil, incluyendo el promedio general anual, la comuna y región de cada estudiante. La mayoría de sus datos son de tipo numérico, incluso los que no tienen un valor específico y en su lugar lo utilizan como representación.

El segundo es un archivo de formato .csv de la Subsecrretaría de Comunicaciones que tiene información respecto a las redes de internet fijas en los hogares, clasificadas por año y región. Los elementos son de tipo numérico y es de corta extensión.

Por último, el tercer grupo de datos corresponde a un archivo .xlsx de la encuesta Casen que contiene información sobre el ingreso promedio de los hogares por región, con 7 años registrados a partir del 2006. Al ser ingresos monetarios, al igual que los datos anteriores, estos también son de tipo numérico.

## Importación de librerías:

In [30]:
import pandas as pd
import numpy as np

## Limpieza de datos

### Ingresos de los hogares por región

In [110]:
excel = pd.read_excel('Propuesta/Ingreso_Casen_en_Pandemia_2020.xlsx', '3')
excel[0:10]

,Indice,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ingreso promedio de los hogares por tipo de in...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2006-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,($ noviembre de cada año),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,2006.000,2009.000,2011.000000,2013.000,2015.000000,2017.000000,2020.000000,...,2.015000e+03,2017.000000,2020.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Ingreso del trabajo1,Arica y Parinacota,Estimación,273937.030,464614.310,445949.369744,498799.330,601417.500539,584868.126943,579584.746802,...,6.850145e+05,635166.785861,579584.746802,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,Error estándar,14485.616,33157.672,20604.240000,22119.469,43926.100000,27448.392941,22516.422055,...,5.003183e+04,29808.954734,22516.422055,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,Tarapacá,Estimación,356800.090,419526.510,551249.862372,761909.670,889361.285183,773927.612752,790225.530855,...,1.012983e+06,840485.387449,790225.530855,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [111]:
names = []
for a in excel.keys():
    names.append(str(excel[a][5])[0:4])

dicti = {}
cont = 0
for a in excel.keys():
    if cont == 0 or cont == 1:
        dicti[a] = ''
    else:
        dicti[a] = names[cont]
    cont += 1
excel = excel.rename(dicti, axis = 'columns')

In [112]:
excel.columns.duplicated()

array([False,  True, False, False, False, False, False, False, False,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

In [113]:
excel_3 = excel
excel_3 = excel_3.iloc[:,~excel_3.columns.duplicated(keep = 'last')]

In [114]:
excel_3 = excel_3.drop(excel_3.index[[0, 1, 2, 3, 4, 5, 6]])

In [138]:
datadata = excel_3[0:138]
datadata=datadata.reset_index()
datadata = datadata.drop('index', axis = 'columns')

In [140]:
datadata = datadata.drop('nan', axis = 'columns')
cont = 0
for item in datadata[''].isna():
    if item == True:
        datadata = datadata.drop(cont)
    cont+=1
datadata = datadata.reset_index()
datadata = datadata.drop('index', axis = 'columns')
datadata

,,2006,2009,2011,2013,2015,2017,2020
0,Arica y Parinacota,436655.625820,647672.348140,5.833018e+05,6.239980e+05,6.850145e+05,6.351668e+05,5.795847e+05
1,Tarapacá,568739.343460,584819.954940,7.210348e+05,9.531490e+05,1.012983e+06,8.404854e+05,7.902255e+05
2,Antofagasta,858909.621040,863295.919640,1.021839e+06,1.157638e+06,1.014484e+06,1.058461e+06,8.889655e+05
3,Atacama,770437.839040,668778.107560,7.017897e+05,8.513332e+05,8.286081e+05,7.880743e+05,6.833213e+05
4,Coquimbo,505779.435820,479938.405980,5.209539e+05,6.895868e+05,6.420883e+05,5.900555e+05,5.457699e+05
...,...,...,...,...,...,...,...,...
63,Los Ríos,557783.175740,514040.260120,6.221976e+05,6.656573e+05,8.023923e+05,7.804983e+05,7.512811e+05
64,Los Lagos,671384.319920,614957.984020,6.186322e+05,7.390152e+05,7.173555e+05,8.176627e+05,8.001562e+05
65,Aysén,689113.266120,797290.953620,8.966758e+05,9.587971e+05,9.967376e+05,1.168589e+06,9.987045e+05
66,Magallanes,888303.267960,819073.611560,9.473862e+05,1.029424e+06,1.097190e+06,1.209269e+06,1.126894e+06
67,Total,797239.858922,812049.210679,8.207416e+05,9.474132e+05,9.783864e+05,1.028005e+06,9.697787e+05

In [141]:
# Como solo se ocuparán los datos del año 2020, no eliminamos pero descartamos el resto.
ab = datadata['2020'][51::]
cont = 0
for item in ab:
    ab[cont] = int(round(item))
    cont+=1
ab = ab.reset_index()
ingresos_df = pd.DataFrame(ab[0:17])
ingresos_df = ingresos_df.drop('index', axis = 'columns')
ingresos_df.index = np.arange(1, len(ingresos_df)+1)
ingresos_df

            2020
1   7.800992e+05
2   9.695093e+05
3   1.110884e+06
4   8.918012e+05
5   7.519408e+05
6   8.303637e+05
7   1.204524e+06
8   7.830949e+05
9   7.435677e+05
10  6.346030e+05
11  7.840802e+05
12  6.865989e+05
13  7.512811e+05
14  8.001562e+05
15  9.987045e+05
16  1.126894e+06
17  9.697787e+05

### Rendimiento estudiantil

In [16]:
dat=pd.read_csv('Propuesta/20210223_Rendimiento_2020_20210131_WEB.csv',delimiter=';')

C:\Users\anton\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (25) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [17]:
len(dat)

3164534

In [18]:
cols=dat.columns
for c in cols:
    print(c)

AGNO
RBD
DGV_RBD
NOM_RBD
COD_REG_RBD
NOM_REG_RBD_A
COD_PRO_RBD
COD_COM_RBD
NOM_COM_RBD
COD_DEPROV_RBD
NOM_DEPROV_RBD
COD_DEPE
COD_DEPE2
RURAL_RBD
ESTADO_ESTAB
COD_ENSE
COD_ENSE2
COD_GRADO
LET_CUR
COD_JOR
COD_TIP_CUR
COD_DES_CUR
MRUN
GEN_ALU
FEC_NAC_ALU
EDAD_ALU
COD_REG_ALU
COD_COM_ALU
NOM_COM_ALU
COD_RAMA
COD_SEC
COD_ESPE
PROM_GRAL
ASISTENCIA
SIT_FIN
SIT_FIN_R
COD_MEN

#### Eliminación y cambio de nombre de columnas

In [19]:
keep_cols = ['AGNO', 'RBD', 'NOM_RBD', 'COD_REG_RBD', 'NOM_REG_RBD_A', 'COD_DEPE2',
            'RURAL_RBD', 'COD_ENSE', 'COD_ENSE2', 'COD_GRADO', 'PROM_GRAL', 'SIT_FIN_R']
dat = dat[keep_cols]
dat.reset_index(drop=True, inplace=True)

In [20]:
dat.tail()

,AGNO,RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_DEPE2,RURAL_RBD,COD_ENSE,COD_ENSE2,COD_GRADO,PROM_GRAL,SIT_FIN_R
3164529,2020,41807,INSTITUTO DE ENSEÑANZA PRIMARIA PROFESOR PAULO...,13,RM,3,0,110,2,1,"6,8",P
3164530,2020,41807,INSTITUTO DE ENSEÑANZA PRIMARIA PROFESOR PAULO...,13,RM,3,0,110,2,1,"6,9",P
3164531,2020,41807,INSTITUTO DE ENSEÑANZA PRIMARIA PROFESOR PAULO...,13,RM,3,0,110,2,2,7,P
3164532,2020,41807,INSTITUTO DE ENSEÑANZA PRIMARIA PROFESOR PAULO...,13,RM,3,0,110,2,2,"6,9",P
3164533,2020,41807,INSTITUTO DE ENSEÑANZA PRIMARIA PROFESOR PAULO...,13,RM,3,0,110,2,2,7,P

In [21]:
dat.rename(columns={'AGNO': 'AÑO', 'COD_DEPE2': 'COD_DEPENDENCIA', 'COD_ENSE': 'COD_ENSEÑANZA',
                   'COD_ENSE2': 'COD_ENSEÑANZA2', 'SIT_FIN_R': 'SIT_FINAL'}, inplace=True)
print(len(dat))
dat['AÑO'].unique()

3164534

array([2020], dtype=int64)

In [22]:
dat.drop('AÑO',axis = 1, inplace=True)

In [23]:
# Ciclo que recorre una lista con los códigos de grados de enseñanza básica
for cod in [110, 160, 161, 163, 165, 167]:
    # Se eliminan todos los registros con el código "cod" de la iteración
    dat=dat[dat['COD_ENSEÑANZA'] != cod]
dat.reset_index(drop=True, inplace=True)
len(dat)

1060244

In [24]:
# Ciclo que recorre una lista con los códigos de grados de enseñanza básica
for cod in [6, 8]:
    # Se eliminan todos los registros con el código "cod" de la iteración
    dat=dat[dat['COD_ENSEÑANZA2'] != cod]
dat.reset_index(drop=True, inplace=True)
len(dat)

933871

#### Datos faltantes

In [31]:
dat = dat.replace(' ', np.nan)
dat.isna().sum()

RBD                  0
NOM_RBD              0
COD_REG_RBD          0
NOM_REG_RBD_A        0
COD_DEPENDENCIA      0
RURAL_RBD            0
COD_ENSEÑANZA        0
COD_ENSEÑANZA2       0
COD_GRADO            0
PROM_GRAL            0
SIT_FINAL          141
dtype: int64

In [32]:
dat['SIT_FINAL'].unique()

array(['P', 'T', 'R', 'Y', nan], dtype=object)

In [144]:
data = pd.get_dummies(data=dat, columns=['SIT_FINAL'])
data.head()

,RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_DEPENDENCIA,RURAL_RBD,COD_ENSEÑANZA,COD_ENSEÑANZA2,COD_GRADO,PROM_GRAL,SIT_FINAL_P,SIT_FINAL_R,SIT_FINAL_T,SIT_FINAL_Y
0,1,LICEO POLITECNICO ARICA,15,AYP,5,0,510,7,1,"6,2",1,0,0,0
1,1,LICEO POLITECNICO ARICA,15,AYP,5,0,510,7,1,"6,8",1,0,0,0
2,1,LICEO POLITECNICO ARICA,15,AYP,5,0,510,7,1,"4,4",1,0,0,0
3,1,LICEO POLITECNICO ARICA,15,AYP,5,0,510,7,1,0,0,0,1,0
4,1,LICEO POLITECNICO ARICA,15,AYP,5,0,510,7,1,"5,9",1,0,0,0

In [145]:
keep_cols2 = ['RBD', 'NOM_RBD', 'COD_REG_RBD', 'NOM_REG_RBD_A', 'COD_DEPENDENCIA',
            'RURAL_RBD', 'COD_ENSEÑANZA', 'COD_ENSEÑANZA2', 'COD_GRADO', 'SIT_FINAL_P', 'SIT_FINAL_R']
data = data[keep_cols2]
data.reset_index(drop=True, inplace=True)

In [146]:
data['SIT_FINAL_P'].value_counts()

1    883117
0     50754
Name: SIT_FINAL_P, dtype: int64

In [147]:
data['COD_REG_RBD'].unique()

array([15,  1,  2,  3,  4,  5,  6,  7, 16,  8,  9, 14, 10, 11, 12, 13],
      dtype=int64)

In [148]:
a = pd.DataFrame(data.groupby('COD_REG_RBD')['SIT_FINAL_P'].sum())

In [149]:
b = pd.DataFrame(data['COD_REG_RBD'].value_counts().sort_index())

In [150]:
fin = b.join(a)

In [155]:
c = pd.DataFrame(data.groupby('COD_REG_RBD')['SIT_FINAL_R'].sum())
final = fin.join(c)
final = final.drop('COD_REG_RBD', axis = 'columns')
final = final.rename(columns = {'SIT_FINAL_P':'APROBADOS', 'SIT_FINAL_R':'REPROBADOS'})
e = pd.DataFrame(final['REPROBADOS']*100/(final['APROBADOS']+final['REPROBADOS']))
final = final.join(e)
final = final.rename(columns = {0:'%REPROBADOS'})
f = pd.DataFrame(final['APROBADOS']*100/(final['APROBADOS']+final['REPROBADOS']))
final = final.join(f)
final = final.rename(columns = {0:'%APROBADOS'})

desempeño_df = final
desempeño_df

    APROBADOS  REPROBADOS  %REPROBADOS  %APROBADOS
1     18673.0       292.0     1.539678   98.460322
2     32874.0       577.0     1.724911   98.275089
3     15810.0       481.0     2.952550   97.047450
4     40225.0       444.0     1.091741   98.908259
5     87942.0      1367.0     1.530641   98.469359
6     47991.0      1322.0     2.680835   97.319165
7     55025.0      1520.0     2.688125   97.311875
8     80456.0      1210.0     1.481645   98.518355
9     52506.0      1637.0     3.023475   96.976525
10    44302.0      2437.0     5.214061   94.785939
11     5404.0       107.0     1.941571   98.058429
12     8059.0        84.0     1.031561   98.968439
13   334844.0      6196.0     1.816796   98.183204
14    20461.0       612.0     2.904190   97.095810
15    12824.0       170.0     1.308296   98.691704
16    25721.0       402.0     1.538874   98.461126

### Redes fijas en los hogares

In [82]:
excel = pd.read_excel('Propuesta/1_SERIES_CONEXIONES_INTERNET_FIJA_JUN21_030821.xlsx', '7.7.1.CO_TEC_RG_EMP_FIJAS')
excel.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67
0,NaN,SERVICIO ACCESO A INTERNET: CONEXIONES FIJAS P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,<< VOLVER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
excel = excel.drop(excel.index[[0, 1, 2, 3, 4, 5]])

In [84]:
names = []
for a in excel.keys():
    names.append(str(excel[a][6]))

dicti = {}
cont = 0
for a in excel.keys():
    if cont == 0 or cont == 1:
        dicti[a] = ''
    else:
        dicti[a] = names[cont]
    cont += 1
excel = excel.rename(dicti, axis = 'columns')
excel.head()

,,,Región,Entel-Chile S.A.,CMET,Telsur,Movistar,CTR,Entelphone,GTD Manquehue,...,Hughesnet,Total Otras Conexiones Inalámbricas,Total Conexiones,nan,nan,nan,nan,nan,nan,nan
6,NaN,NaN,Región,Entel-Chile S.A.,CMET,Telsur,Movistar,CTR,Entelphone,GTD Manquehue,...,Hughesnet,Total Otras Conexiones Inalámbricas,Total Conexiones,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,1,386,NaN,NaN,1437,NaN,521,13,...,170,3197,75556,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,2,291,NaN,NaN,2520,NaN,247,6,...,898,7156,163835,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,3,117,NaN,NaN,4067,NaN,109,NaN,...,811,3036,58053,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,4,301,NaN,NaN,6694,NaN,344,6,...,1345,10630,157504,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
excel2 = pd.DataFrame(excel['Región'])
excel2 = excel2.join(excel['Total Conexiones'])
excel2 = excel2.reset_index()
excel2 = excel2.drop('index', axis = 'columns')
excel2 = excel2.drop(0)
redes_df = excel2[0:17]
redes_df

   Región Total Conexiones
1       1            75556
2       2           163835
3       3            58053
4       4           157504
5       5           447729
6       6           157323
7       7           172452
8       8           372442
9       9           146334
10     10           140033
11     11            19105
12     12            47118
13     13          1937201
14     14            63359
15     15            57791
16     16            73820
17  Total          4089655

## Dataframe final

In [157]:
a = redes_df.join(desempeño_df)
b= a.join(ingresos_df)
b = b.rename(columns = {'2020':'Ingresos totales'})
b['APROBADOS'][17] = b['APROBADOS'].sum()
b['REPROBADOS'][17] = b['REPROBADOS'].sum()
b['Región'] = ['XV', 'I', 'II', 'III', 'IV', 'V', 'RM', 'VI', 'VII', 'XVI', 'VIII', 'IX', 'XIV', 'X', 'XI', 'XII', 'Total']

dataframe = b[['Región', 'Ingresos totales', 'Total Conexiones', 'APROBADOS', 'REPROBADOS', '%APROBADOS','%REPROBADOS']]
dataframe

<ipython-input-157-c0b4f83d642f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b['APROBADOS'][17] = b['APROBADOS'].sum()
<ipython-input-157-c0b4f83d642f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b['REPROBADOS'][17] = b['REPROBADOS'].sum()

,Región,Ingresos totales,Total Conexiones,APROBADOS,REPROBADOS,%APROBADOS,%REPROBADOS
1,XV,7.800992e+05,75556,18673.0,292.0,98.460322,1.539678
2,I,9.695093e+05,163835,32874.0,577.0,98.275089,1.724911
3,II,1.110884e+06,58053,15810.0,481.0,97.047450,2.952550
4,III,8.918012e+05,157504,40225.0,444.0,98.908259,1.091741
5,IV,7.519408e+05,447729,87942.0,1367.0,98.469359,1.530641
6,V,8.303637e+05,157323,47991.0,1322.0,97.319165,2.680835
7,RM,1.204524e+06,172452,55025.0,1520.0,97.311875,2.688125
8,VI,7.830949e+05,372442,80456.0,1210.0,98.518355,1.481645
9,VII,7.435677e+05,146334,52506.0,1637.0,96.976525,3.023475
10,XVI,6.346030e+05,140033,44302.0,2437.0,94.785939,5.214061
11,VIII,7.840802e+05,19105,5404.0,107.0,98.058429,1.941571
12,IX,6.865989e+05,47118,8059.0,84.0,98.968439,1.031561
13,XIV,7.512811e+05,1937201,334844.0,6196.0,98.183204,1.816796
14,X,8.001562e+05,63359,20461.0,612.0,97.095810,2.904190
15,XI,9.987045e+05,57791,12824.0,170.0,98.691704,1.308296
16,XII,1.126894e+06,73820,25721.0,402.0,98.461126,1.538874
17,Total,9.697787e+05,4089655,883117.0,18858.0,NaN,NaN

## Análisis de datos