In [1]:
import pandas as pd
import numpy as np

In [2]:
dat=pd.read_csv('20210223_Rendimiento_2020_20210131_WEB.csv',delimiter=';')

/Users/naiomi/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (25) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
len(dat)

3164534

#### Eliminación y cambio de nombre de columnas

In [4]:
cols=dat.columns
for c in cols:
    print(c)

AGNO
RBD
DGV_RBD
NOM_RBD
COD_REG_RBD
NOM_REG_RBD_A
COD_PRO_RBD
COD_COM_RBD
NOM_COM_RBD
COD_DEPROV_RBD
NOM_DEPROV_RBD
COD_DEPE
COD_DEPE2
RURAL_RBD
ESTADO_ESTAB
COD_ENSE
COD_ENSE2
COD_GRADO
LET_CUR
COD_JOR
COD_TIP_CUR
COD_DES_CUR
MRUN
GEN_ALU
FEC_NAC_ALU
EDAD_ALU
COD_REG_ALU
COD_COM_ALU
NOM_COM_ALU
COD_RAMA
COD_SEC
COD_ESPE
PROM_GRAL
ASISTENCIA
SIT_FIN
SIT_FIN_R
COD_MEN

In [5]:
keep_cols = ['AGNO', 'RBD', 'NOM_RBD', 'COD_REG_RBD', 'NOM_REG_RBD_A', 'COD_DEPE2',
            'RURAL_RBD', 'COD_ENSE', 'COD_ENSE2', 'COD_GRADO', 'PROM_GRAL', 'SIT_FIN_R']
dat = dat[keep_cols]
dat.reset_index(drop=True, inplace=True)

In [6]:
dat.tail()

,AGNO,RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_DEPE2,RURAL_RBD,COD_ENSE,COD_ENSE2,COD_GRADO,PROM_GRAL,SIT_FIN_R
3164529,2020,41807,INSTITUTO DE ENSEÑANZA PRIMARIA PROFESOR PAULO...,13,RM,3,0,110,2,1,"6,8",P
3164530,2020,41807,INSTITUTO DE ENSEÑANZA PRIMARIA PROFESOR PAULO...,13,RM,3,0,110,2,1,"6,9",P
3164531,2020,41807,INSTITUTO DE ENSEÑANZA PRIMARIA PROFESOR PAULO...,13,RM,3,0,110,2,2,7,P
3164532,2020,41807,INSTITUTO DE ENSEÑANZA PRIMARIA PROFESOR PAULO...,13,RM,3,0,110,2,2,"6,9",P
3164533,2020,41807,INSTITUTO DE ENSEÑANZA PRIMARIA PROFESOR PAULO...,13,RM,3,0,110,2,2,7,P

In [7]:
dat.rename(columns={'AGNO': 'AÑO', 'COD_DEPE2': 'COD_DEPENDENCIA', 'COD_ENSE': 'COD_ENSEÑANZA',
                   'COD_ENSE2': 'COD_ENSEÑANZA2', 'SIT_FIN_R': 'SIT_FINAL'}, inplace=True)
len(dat)

3164534

In [8]:
dat['AÑO'].unique()

array([2020])

##### Como todos los registros corresponden al año 2020, se elimina esta columna

In [9]:
dat.drop('AÑO',axis = 1, inplace=True)

##### Se conservan sólo registros de enseñanza media

In [10]:
# Ciclo que recorre una lista con los códigos de grados de enseñanza básica
for cod in [110, 160, 161, 163, 165, 167]:
    # Se eliminan todos los registros con el código "cod" de la iteración
    dat=dat[dat['COD_ENSEÑANZA'] != cod]
dat.reset_index(drop=True, inplace=True)
len(dat)

1060244

##### Se conservan sólo los grados para jóvenes (códigos 6 y 8 corresponden a educación para adultos)

In [11]:
# Ciclo que recorre una lista con los códigos de grados de enseñanza básica
for cod in [6, 8]:
    # Se eliminan todos los registros con el código "cod" de la iteración
    dat=dat[dat['COD_ENSEÑANZA2'] != cod]
dat.reset_index(drop=True, inplace=True)
len(dat)

933871

#### Datos faltantes

In [12]:
dat = dat.replace(' ', np.nan)

In [13]:
dat.isna().sum()

RBD                  0
NOM_RBD              0
COD_REG_RBD          0
NOM_REG_RBD_A        0
COD_DEPENDENCIA      0
RURAL_RBD            0
COD_ENSEÑANZA        0
COD_ENSEÑANZA2       0
COD_GRADO            0
PROM_GRAL            0
SIT_FINAL          141
dtype: int64

In [14]:
dat['SIT_FINAL'].unique()

array(['P', 'T', 'R', 'Y', nan], dtype=object)

In [15]:
#dat['SIT_FINAL']=dat['SIT_FINAL'].replace(np.nan, 'SIN_INFO')

In [16]:
#dat['SIT_FINAL'].unique()

In [17]:
#dat.isna().sum()

In [18]:
data = pd.get_dummies(data=dat, columns=['SIT_FINAL'])
data.head()

,RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_DEPENDENCIA,RURAL_RBD,COD_ENSEÑANZA,COD_ENSEÑANZA2,COD_GRADO,PROM_GRAL,SIT_FINAL_P,SIT_FINAL_R,SIT_FINAL_T,SIT_FINAL_Y
0,1,LICEO POLITECNICO ARICA,15,AYP,5,0,510,7,1,"6,2",1,0,0,0
1,1,LICEO POLITECNICO ARICA,15,AYP,5,0,510,7,1,"6,8",1,0,0,0
2,1,LICEO POLITECNICO ARICA,15,AYP,5,0,510,7,1,"4,4",1,0,0,0
3,1,LICEO POLITECNICO ARICA,15,AYP,5,0,510,7,1,0,0,0,1,0
4,1,LICEO POLITECNICO ARICA,15,AYP,5,0,510,7,1,"5,9",1,0,0,0

In [19]:
keep_cols2 = ['RBD', 'NOM_RBD', 'COD_REG_RBD', 'NOM_REG_RBD_A', 'COD_DEPENDENCIA',
            'RURAL_RBD', 'COD_ENSEÑANZA', 'COD_ENSEÑANZA2', 'COD_GRADO', 'SIT_FINAL_P']
data = data[keep_cols2]
data.reset_index(drop=True, inplace=True)

In [20]:
data

,RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_DEPENDENCIA,RURAL_RBD,COD_ENSEÑANZA,COD_ENSEÑANZA2,COD_GRADO,SIT_FINAL_P
0,1,LICEO POLITECNICO ARICA,15,AYP,5,0,510,7,1,1
1,1,LICEO POLITECNICO ARICA,15,AYP,5,0,510,7,1,1
2,1,LICEO POLITECNICO ARICA,15,AYP,5,0,510,7,1,1
3,1,LICEO POLITECNICO ARICA,15,AYP,5,0,510,7,1,0
4,1,LICEO POLITECNICO ARICA,15,AYP,5,0,510,7,1,1
...,...,...,...,...,...,...,...,...,...,...
933866,41780,COLEGIO ALICANTO,3,ATCMA,3,0,310,5,3,1
933867,41780,COLEGIO ALICANTO,3,ATCMA,3,0,310,5,3,1
933868,41780,COLEGIO ALICANTO,3,ATCMA,3,0,310,5,3,1
933869,41780,COLEGIO ALICANTO,3,ATCMA,3,0,310,5,3,1
933870,41780,COLEGIO ALICANTO,3,ATCMA,3,0,310,5,4,1

In [21]:
data['SIT_FINAL_P'].value_counts()

1    883117
0     50754
Name: SIT_FINAL_P, dtype: int64